@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h-menu-bar: 2rem;
  --h-dock: 4rem;
}

body {
  font-family: '-apple-system', '-apple-system', 'BlinkMacSystemFont', 'Inter',
    sans-serif;
}

.bg-img-ventura {
  background-image: url('./assets/monterey.jpeg');
  background-size: cover;
  background-position: center;
}

.h-menu-bar {
  height: var(--h-menu-bar);
}

.h-dock {
  height: var(--h-dock);
}

.h-dragable-area {
  height: calc(100vh - var(--h-menu-bar) - var(--h-dock));
}

.menu-bar-blur {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.application-min-size {
  min-height: 200px;
  min-width: 300px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.center {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}

.application-controls:hover .control-icons {
  display: inline;
}
